# KAYAK

## Entreprise :

- Kayak est une très grande entreprise internationale, fondée en 2004 et a été racheté par Booking Hodings.  
- Son activité : consiste à rechercher via leur site, les meilleurs voyages au meilleur prix.
- Ses partenaires sont : Booking.com, Kayak, Ligne de prix, Agoda, Location de voiture et Table ouverte

## Problématique :

Après avoir effectué des recherches sur les utilisateurs, l'équipe a découvert que 70 % de leurs utilisateurs qui planifient un voyage : 
- aimeraient avoir plus d'informations sur la destination vers laquelle ils se rendent
- ont tendance à se méfier des informations qu'ils lisent, s'ils ne connaissent pas la marque qui a produit le contenuet

Kayak Marketing Team souhaite créer une application, qui recommandera aux gens où planifier leurs prochaines vacances, mais ne dispose d'aucunes données sur les hôtels et le temps à venir.

## Objectifs :

- Collecter les données des destinations (35 plus belles villes de France)

- Obtenir des données météorologiques des destinations
    - Les coordonnées latitudes et longitudes + 1 visualisation
    - La météo des 7 prochains jours + 1 visualisation
    
    
- Prendre les informations des hôtels sur chaque destination

- Stocker toutes les informations ci-dessus dans un lac de données (S3)

- Envoyer les données sur RDS et PGadmin pour faire une requête (processus ETL)

#### 1) Collecter les 35 plus belles villes de France

In [102]:
!pip install bs4

Processing /home/jovyan/.cache/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca/bs4-0.0.1-py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.8/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /opt/conda/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.0.1)
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [103]:
import requests
from bs4 import BeautifulSoup 

liste_ville = []

html_content = requests.get('https://one-week-in.com/35-cities-to-visit-in-france/%27').text

soup = BeautifulSoup(html_content, 'html.parser')

for x in range(6,41):
    liste_ville.append(soup.select("div.entry-content a")[x].get_text())
liste_ville

['Mont Saint Michel',
 'St Malo',
 'Bayeux',
 'Le Havre',
 'Rouen',
 'Paris',
 'Amiens',
 'Lille',
 'Strasbourg',
 'Chateau du Haut Koenigsbourg',
 'Colmar',
 'Eguisheim',
 'Besancon',
 'Dijon',
 'Annecy',
 'Grenoble',
 'Lyon',
 'Verdon Gorge',
 'Bormes les Mimosas',
 'Cassis',
 'Marseille',
 'Aix en Provence',
 'Avignon',
 'Uzès',
 'Nímes',
 'Aigues Mortes',
 'Saintes Maries de la mer',
 'Collioure',
 'Carcassonne',
 'Ariege',
 'Toulouse',
 'Montauban',
 'Biarritz',
 'Bayonne',
 'La Rochelle']

In [104]:
import pandas as pd

In [105]:
city = pd.DataFrame(data = liste_ville)

In [106]:
city.head()

                   0
0  Mont Saint Michel
1            St Malo
2             Bayeux
3           Le Havre
4              Rouen

In [107]:
city.rename(columns={0: 'city_name'}, inplace=True)

In [108]:
city['Id_city']=city.index

In [109]:
city.head()

           city_name  Id_city
0  Mont Saint Michel        0
1            St Malo        1
2             Bayeux        2
3           Le Havre        3
4              Rouen        4

#### 2) Obtenez des données météo (méthode API)

##### A) les coordonnées GPS de toutes les villes

In [110]:
import requests

In [114]:
#Test pour vérifier si la méthode API fonctionne bien
parametre = {'q' : 'Bayeux',
            'country' : 'France',
            'format' : 'json'}
r = requests.get('https://nominatim.openstreetmap.org/search?', parametre)

In [112]:
r  #Response [200] confirme que le téléchargement a été bien fait

In [113]:
r.json()[0]   #On n'a sortie le 1er élément de Bayeux ! NB : certains nom de ville peuvent apparaitre dans le monde entier

{'place_id': 281962470,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 145776,
 'boundingbox': ['49.2608124', '49.2934736', '-0.7275671', '-0.6757378'],
 'lat': '49.2764624',
 'lon': '-0.7024738',
 'display_name': 'Bayeux, Calvados, Normandie, France métropolitaine, 14400, France',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.6827003853621927,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'}

In [12]:
import time

In [16]:
lat = []
lon = []
error_req = []



for i in range(0,35) :
    
    
    try : 
        
        print('iteration number  {}........'.format(i))
        parametre = {'q' : liste_ville[i],
                'country' : 'France',
                'format' : 'json'}
        r = requests.get('https://nominatim.openstreetmap.org/search?', parametre)
        lon.append(r.json()[0]['lon'])
        lat.append(r.json()[0]['lat'])
        time.sleep(1)
        print('Done')
       
        
        
    except:
        print("didnt worked on the  follwing request {}".format(i))
        print(liste_ville[i])
        error_req.append(i)
        continue

print('--------------------------------------')
print('Number of correct request scrapped {}:'.format(len(lat)))
print('Number of incorrect request scrapped {}:'.format(len(error_req)))

iteration number  0........
didnt worked on the  follwing request 0
Mont Saint Michel
iteration number  1........
Done
iteration number  2........
didnt worked on the  follwing request 2
Bayeux
iteration number  3........
Done
iteration number  4........
Done
iteration number  5........
Done
iteration number  6........
didnt worked on the  follwing request 6
Amiens
iteration number  7........
Done
iteration number  8........
didnt worked on the  follwing request 8
Strasbourg
iteration number  9........
didnt worked on the  follwing request 9
Chateau du Haut Koenigsbourg
iteration number  10........
Done
iteration number  11........
Done
iteration number  12........
Done
iteration number  13........
Done
iteration number  14........
Done
iteration number  15........
Done
iteration number  16........
didnt worked on the  follwing request 16
Lyon
iteration number  17........
didnt worked on the  follwing request 17
Verdon Gorge
iteration number  18........
didnt worked on the  follwing request 18
Bormes les Mimosas
iteration number  19........
didnt worked on the  follwing request 19
Cassis
iteration number  20........
Done
iteration number  21........
didnt worked on the  follwing request 21
Aix en Provence
iteration number  22........
Done
iteration number  23........
Done
iteration number  24........
Done
iteration number  25........
Done
iteration number  26........
Done
iteration number  27........
didnt worked on the  follwing request 27
Collioure
iteration number  28........
Done
iteration number  29........
didnt worked on the  follwing request 29
Ariege
iteration number  30........
Done
iteration number  31........
Done
iteration number  32........
Done
iteration number  33........
Done
iteration number  34........
Done
--------------------------------------
Number of correct request scrapped 23:
Number of incorrect request scrapped 12:

In [17]:
len(lat)

23

In [18]:
lon

['-96.9538228',
 '0.1079732',
 '1.0939658',
 '2.3200410217200766',
 '3.0635282',
 '7.3579641',
 '7.3079618',
 '25.5080179',
 '5.0414701',
 '6.1288847',
 '5.7357819',
 '5.3699525',
 '4.8059012',
 '4.4196718',
 '4.3600687',
 '4.1912837',
 '4.4287172',
 '2.3491069',
 '1.4442469',
 '1.3549991',
 '-1.552726590666314',
 '-1.475099',
 '-1.1520434']

In [19]:
city['latitude'] = lat
city['longitude'] = lon

ValueError: Length of values (23) does not match length of index (35)

In [20]:
city.head()

                   0
0  Mont Saint Michel
1            St Malo
2             Bayeux
3           Le Havre
4              Rouen

##### B) Obtenir des informations sur la météo des 35 villes

In [21]:
import requests

In [24]:
import numpy as np

In [22]:
Cle_API = 'b69c7ca9a95827be8065dc4ba3523157' #On n'a besoin de notre clé API pour utiliser les services API du site

In [25]:
forcast_meteo = []

#ETAPE 1 : 

for i in range(0,35) :                                        #On itère sur les listes lat et lon des 35 villes 
    parametre = {'lat' : lat[i],
                 'lon' : lon[i],
                 'exclude' : ['current','minutely','hourly'],  #Pour exclude : on veut seulement les données de Daily (7 prochain jours)
                 'unit' : 'metric',
                 'appid' : Cle_API}
    r = requests.get('https://api.openweathermap.org/data/2.5/onecall', parametre)
    forcast_meteo.append(r.json()['daily'])                   #On ajoute les données dans la variable forcast_meteo
    
    
    
    
#ETAPE 2 :   

    list_temp = []
    temp_mean = []
    
    for t in range (0,7) :                                     #On itère sur les 7 jours en précisant qu'on veut le temps maximum. 
        list_temp.append(r.json()['daily'][t]['temp']['max'])  
    avg = np.mean(list_temp)                                   #On veut calculer la moyenne du temps maximum des 7 jours 
    temp_mean.append(avg)                                      #Cette moyenne sera stockée dans la variable temp_mean

IndexError: list index out of range

##### NB : il y a eu un problème avec l'API... Mais heuresement avant on a pu récupérer toutes les données sur un fichier City_vdiff.csv

In [27]:
#Pour contrôler si on a bien 35 temp_mean, en référence au 35 villes, mais ce n'est pas le cas...
len(temp_mean)

23

In [28]:
#Permet de voir le 1er élément (1er jour) de la requête.json format "Daily" :  
r.json()['daily'][0]

{'dt': 1635159600,
 'sunrise': 1635143724,
 'sunset': 1635181300,
 'moonrise': 1635191040,
 'moonset': 1635161100,
 'moon_phase': 0.65,
 'temp': {'day': 289.79,
  'min': 287.61,
  'max': 289.79,
  'night': 287.9,
  'eve': 288.22,
  'morn': 287.8},
 'feels_like': {'day': 289.52, 'night': 287.78, 'eve': 288.11, 'morn': 287.67},
 'pressure': 1021,
 'humidity': 77,
 'dew_point': 285.69,
 'wind_speed': 5.13,
 'wind_deg': 208,
 'wind_gust': 7.01,
 'weather': [{'id': 501,
   'main': 'Rain',
   'description': 'moderate rain',
   'icon': '10d'}],
 'clouds': 82,
 'pop': 0.87,
 'rain': 5.15,
 'uvi': 2}

In [30]:
# Méthode 1 ajouter une colonne temp_mean avec la variable "temp_mean" 
city['temp_mean'] = temp_mean
#problème : la conversion de la temperature ne fonctionnait pas donc on a procédé autrement

ValueError: Length of values (23) does not match length of index (35)

In [29]:
#Faire une fonction, pour convertir la temperature : 
def temperature(x) :
    temperature_C = x - 273.15
    return temperature_C

In [ ]:
#Appliquer la fonction sur la colonne "temp_mean" pour avoir les degrés
city['temp_mean'] = city['temp_mean'].apply(lambda x: temperature(x))

In [ ]:
city.head()

In [ ]:
#créer un fichier CSV du dataframe City
city.to_csv('city.csv')

#### C) Visualisation de la température par ville et déterminer les 5 meilleurs destinations :

In [ ]:
#Avant les problèmes d'API, j'ai du convertir les colonnes Longitude, latitude et temp_mean en float 
# city['longitude']=pd.to_numeric(city['longitude']).astype(float)
# city['latitude']=pd.to_numeric(city['latitude']).astype(float) 
# city['temp_mean']=pd.to_numeric(city['temp_mean']).astype(float)
#Mais plus besoin de ces instructions

In [3]:
!pip install plotly==4.8.1

Collecting plotly==4.8.1
  Using cached plotly-4.8.1-py2.py3-none-any.whl (11.5 MB)
Processing /home/jovyan/.cache/pip/wheels/c4/a7/48/0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56/retrying-1.3.3-py3-none-any.whl
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly==4.8.1) (1.15.0)
Installing collected packages: retrying, plotly
Successfully installed plotly-4.8.1 retrying-1.3.3

In [4]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "iframe_connected"

In [5]:
#On a utilisé le fichier csv, pour faire la visualisation sans dépendre des boucles précédantes
city_new = pd.read_csv("city_vdiff.csv")

In [6]:
city_new.head()

   Unnamed: 0          city_name   latitude  longitude  temp_mean  Id_city
0           0  Mont Saint Michel  48.635954  -1.511460  15.978571        0
1           1            St Malo  48.649518  -2.026041  15.958571        1
2           2             Bayeux  49.276462  -0.702474  15.592857        2
3           3           Le Havre  49.493897   0.107973  15.532857        3
4           4              Rouen  49.440459   1.093966  15.642857        4

In [8]:
city_new.dtypes

Unnamed: 0      int64
city_name      object
latitude      float64
longitude     float64
temp_mean     float64
Id_city         int64
dtype: object

In [9]:
#En utilisant le fichier city_vdiff.csv, mes colonnes latitude, longitude et temp_mean étaient déjà en type float : 

fig = px.scatter_mapbox(data_frame = city_new, lat ="latitude", lon ="longitude", color = "temp_mean", size="temp_mean", 
                        category_orders = [city_new["temp_mean"]>18], text ="city_name",
                        mapbox_style = "carto-positron", zoom = 4, title = "La température des 35 villes")

fig.show()

In [10]:
#Pour connaitre les 5 villes qui ont le meilleurs temps :
city_new.sort_values(by=['temp_mean'], ascending=False)

,Unnamed: 0,city_name,latitude,longitude,temp_mean,Id_city
15,15,Grenoble,45.187560,5.735782,19.648571,15
28,28,Carcassonne,43.213036,2.349107,19.591429,28
20,20,Marseille,43.296174,5.369953,19.422857,20
22,22,Avignon,43.949249,4.805901,19.390000,22
30,30,Toulouse,43.604462,1.444247,19.390000,30
31,31,Montauban,44.017584,1.354999,19.342857,31
19,19,Cassis,43.214036,5.539632,19.281429,19
33,33,Bayonne,43.493338,-1.475099,19.250000,33
24,24,Nímes,43.837425,4.360069,19.235714,24
27,27,Collioure,42.525050,3.083155,19.215714,27
26,26,Saintes Maries de la mer,43.452277,4.428717,19.007143,26
25,25,Aigues Mortes,43.565822,4.191284,18.978571,25
21,21,Aix en Provence,43.529842,5.447474,18.878571,21
32,32,Biarritz,43.471144,-1.552727,18.642857,32
23,23,Uzès,44.012128,4.419672,18.577143,23
18,18,Bormes les Mimosas,43.150697,6.341929,18.500000,18
16,16,Lyon,45.757814,4.832011,18.130000,16
11,11,Eguisheim,48.044797,7.307962,17.290000,11
10,10,Colmar,48.077752,7.357964,17.211429,10
17,17,Verdon Gorge,43.740335,6.379998,16.904286,17
14,14,Annecy,45.899235,6.128885,16.824286,14
12,12,Besancon,47.238022,6.024362,16.690000,12
34,34,La Rochelle,46.159113,-1.152043,16.611429,34
8,8,Strasbourg,48.584614,7.750713,16.282857,8
5,5,Paris,48.858890,2.320041,16.208571,5
13,13,Dijon,47.321581,5.041470,16.114286,13
0,0,Mont Saint Michel,48.635954,-1.511460,15.978571,0
1,1,St Malo,48.649518,-2.026041,15.958571,1
4,4,Rouen,49.440459,1.093966,15.642857,4
6,6,Amiens,49.894171,2.295695,15.637143,6
2,2,Bayeux,49.276462,-0.702474,15.592857,2
3,3,Le Havre,49.493897,0.107973,15.532857,3
7,7,Lille,50.636565,3.063528,15.351429,7
29,29,Ariege,42.945537,1.406554,14.392857,29
9,9,Chateau du Haut Koenigsbourg,48.249490,7.344296,14.112857,9

Conclusion : 
les 5 meilleurs distanitation où il fait le plus chaud sont : Grenoble, Carcassonne, Marseille, Avignon, Toulouse.

#### 3) Collecter des données sur les différents hotels des 35 villes

In [14]:
!pip install plotly==4.8.1

Collecting plotly==4.8.1
  Using cached plotly-4.8.1-py2.py3-none-any.whl (11.5 MB)
Processing /home/jovyan/.cache/pip/wheels/c4/a7/48/0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56/retrying-1.3.3-py3-none-any.whl
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly==4.8.1) (1.15.0)
Installing collected packages: retrying, plotly
Successfully installed plotly-4.8.1 retrying-1.3.3

In [15]:
import glob
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "iframe_connected"

In [16]:
frame = pd.DataFrame()

hotel_files = glob.glob('*.json') #ouvrir les fichiers
for hotel_file in hotel_files : #fichier par fichier
    
    df = pd.read_json(hotel_file) #les charger
#    df['name'] = df['name'].str.replace('\n', '')
#    df['description'] = df['description'].str.replace('\n', '') #retirer les mauvais caractères
    
#    city_name = hotel_file[9:-5] #enlever les caractères dans le nom du fichier
    
#    df['city'] = city_name #rajouter le nom de la ville
#    df.to_json(f'{city_name}.json')
    df[['Lon','Lat']] = df.coords.str.split(",",expand=True)
    
    df.drop(['name', 'description','url'], inplace= True, axis = 1)
    frame = frame.append(df)

In [5]:
combined_csv = frame.to_csv('combined.csv')  #Convertir la dataset Combined_csv en fichier.csv

In [17]:
combined_csv = pd.read_csv("combined.csv")

In [18]:
combined_csv.dtypes

Unnamed: 0      int64
coords         object
score          object
city           object
Lon           float64
Lat           float64
dtype: object

In [19]:
#Pour faire la visualisation, on a du modifier la colonne "Score"

#Remplacer la virgule par un point pour la colonne score : 
combined_csv["score"] = [float(str(i).replace(",", ".")) for i in combined_csv["score"]]

#Dans score on remplace les vides par 0 : 
combined_csv["score"] = combined_csv["score"].replace(np.nan, 0, regex=True)

In [21]:
combined_csv.dtypes

Unnamed: 0      int64
coords         object
score         float64
city           object
Lon           float64
Lat           float64
dtype: object

#### C) Visualisation des scores d'hotels, sur les 35 villes et déterminer les 20 meilleurs hotels :

In [22]:
fig = px.scatter_mapbox(data_frame= combined_csv, lat ="Lat", lon ="Lon", color = "score", size="score", text ="city",
                             mapbox_style = "carto-positron", zoom = 4, title = "Les hotels")

fig.show()

In [23]:
#Pour connaitre les 20 hôtels qui ont le meilleurs temps :
sorted_combined = combined_csv.sort_values(by=['score'], ascending=False)
sorted_combined.head(20)

,Unnamed: 0,coords,score,city,Lon,Lat
13045,962,"6.154631822754,43.079708817915",10.0,BormeslesMimosas,6.154632,43.079709
12594,511,"6.453817982662,43.157055672982",10.0,BormeslesMimosas,6.453818,43.157056
5862,310,"4.80613598525,43.951758690621",10.0,Avignon,4.806136,43.951759
13781,315,"-1.506585571152,48.501609183259",10.0,MontSaintMichel,-1.506586,48.501609
6223,226,"7.455302811045,48.259913128814",10.0,ChateauduHautKoenigsbourg,7.455303,48.259913
9817,906,"4.62305343507228,43.6765219894539",10.0,SaintesMariesdelamer,4.623053,43.676522
5494,942,"6.773577,43.618298",10.0,GorgesduVerdon,6.773577,43.618298
959,104,"1.62969466264345,43.0680593529173",10.0,Ariege,1.629695,43.068059
5882,330,"4.8012291,43.9483394",10.0,Avignon,4.801229,43.948339
12049,308,"5.042916150961,47.3230035184",10.0,Dijon,5.042916,47.323004
5793,241,"4.8115063,43.9478297",10.0,Avignon,4.811506,43.947830
12529,446,"6.44446429999994,43.152732",10.0,BormeslesMimosas,6.444464,43.152732
543,387,"4.851814,45.740066",10.0,Lyon,4.851814,45.740066
6525,528,"7.2598127,48.1416546",10.0,ChateauduHautKoenigsbourg,7.259813,48.141655
1089,234,"1.743057777861,42.964956212809",10.0,Ariege,1.743058,42.964956
11005,499,"-1.152214,46.162735",10.0,LaRochelle,-1.152214,46.162735
14000,534,"-1.219316,48.6673",10.0,MontSaintMichel,-1.219316,48.667300
5065,513,"6.652328,43.606685",10.0,GorgesduVerdon,6.652328,43.606685
6272,275,"7.217070433873,48.256322380722",10.0,ChateauduHautKoenigsbourg,7.217070,48.256322
6591,594,"7.430059,48.364123",10.0,ChateauduHautKoenigsbourg,7.430059,48.364123

#### 4) Envoyer les fichiers City et Booking dans un bucket S3

In [51]:
!pip install Boto3

Requirement already satisfied: Boto3 in /opt/conda/lib/python3.8/site-packages (1.19.4)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from Boto3) (0.5.0)
Requirement already satisfied: botocore<1.23.0,>=1.22.4 in /opt/conda/lib/python3.8/site-packages (from Boto3) (1.22.4)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.8/site-packages (from Boto3) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.8/site-packages (from botocore<1.23.0,>=1.22.4->Boto3) (1.25.10)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.8/site-packages (from botocore<1.23.0,>=1.22.4->Boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.23.0,>=1.22.4->Boto3) (1.15.0)

In [52]:
#Je connecte le notebook à mon bucket s3 : 
import boto3

s3 = boto3.resource(
    service_name='s3',
    region_name='eu-west-3',
    aws_access_key_id='XXX',
    aws_secret_access_key='XXX')

In [53]:
# Je télécharge les fichiers.CSV vers le bucket s3 : 
s3.Bucket('bucketkichon120997').upload_file(Filename='city.csv', Key='city.csv')
s3.Bucket('bucketkichon120997').upload_file(Filename='combined.csv', Key='combined.csv')

#### 5) Faire une requête des meilleurs hotels à Grenoble (processus ETL)

In [54]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.8/site-packages (2.9.1)

In [61]:
#On créé une connexion entre l'instance RDS et PGadmin : 

from sqlalchemy import create_engine
dbuser = 'postgres'
dbpass = 'XXX'
dbhost = 'p2-kayak.chwshwkekobd.eu-west-3.rds.amazonaws.com'  
dbname = 'postgres'

engine = create_engine( f'postgresql+psycopg2://{dbuser}:{dbpass}@{dbhost}/{dbname}',echo=True)
engine

Engine(postgresql+psycopg2://postgres:***@p2-kayak.chwshwkekobd.eu-west-3.rds.amazonaws.com/postgres)

In [62]:
#convertir le dataframe City_new en SQL
city_new.to_sql('35_top_cities',engine)

2021-10-27 16:33:21,112 INFO sqlalchemy.engine.base.Engine select version()
2021-10-27 16:33:21,113 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,125 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-10-27 16:33:21,126 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,138 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-10-27 16:33:21,139 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,145 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-10-27 16:33:21,146 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,152 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-10-27 16:33:21,153 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,164 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-27 16:33:21,165 INFO sqlalchemy.engine.base.Engine {'name': '35_top_cities'}
2021-10-27 16:33:21,184 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "35_top_cities" (
	index BIGINT,
	"Unnamed: 0" BIGINT,
	city_name TEXT,
	latitude FLOAT(53),
	longitude FLOAT(53),
	temp_mean FLOAT(53),
	"Id_city" BIGINT
)


2021-10-27 16:33:21,185 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,203 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-27 16:33:21,211 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_35_top_cities_index ON "35_top_cities" (index)
2021-10-27 16:33:21,212 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:33:21,225 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-27 16:33:21,235 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-27 16:33:21,237 INFO sqlalchemy.engine.base.Engine INSERT INTO "35_top_cities" (index, "Unnamed: 0", city_name, latitude, longitude, temp_mean, "Id_city") VALUES (%(index)s, %(Unnamed: 0)s, %(city_name)s, %(latitude)s, %(longitude)s, %(temp_mean)s, %(Id_city)s)
2021-10-27 16:33:21,238 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'Unnamed: 0': 0, 'city_name': 'Mont Saint Michel', 'latitude': 48.6359541, 'longitude': -1.5114599549595142, 'temp_mean': 15.978571428571456, 'Id_city': 0}, {'index': 1, 'Unnamed: 0': 1, 'city_name': 'St Malo', 'latitude': 48.649518, 'longitude': -2.0260409, 'temp_mean': 15.958571428571474, 'Id_city': 1}, {'index': 2, 'Unnamed: 0': 2, 'city_name': 'Bayeux', 'latitude': 49.2764624, 'longitude': -0.7024738, 'temp_mean': 15.592857142857154, 'Id_city': 2}, {'index': 3, 'Unnamed: 0': 3, 'city_name': 'Le Havre', 'latitude': 49.493897499999996, 'longitude': 0.10797319999999999, 'temp_mean': 15.532857142857154, 'Id_city': 3}, {'index': 4, 'Unnamed: 0': 4, 'city_name': 'Rouen', 'latitude': 49.4404591, 'longitude': 1.0939658, 'temp_mean': 15.642857142857167, 'Id_city': 4}, {'index': 5, 'Unnamed: 0': 5, 'city_name': 'Paris', 'latitude': 48.858889700000006, 'longitude': 2.3200410217200766, 'temp_mean': 16.208571428571474, 'Id_city': 5}, {'index': 6, 'Unnamed: 0': 6, 'city_name': 'Amiens', 'latitude': 49.8941708, 'longitude': 2.2956951, 'temp_mean': 15.637142857142864, 'Id_city': 6}, {'index': 7, 'Unnamed: 0': 7, 'city_name': 'Lille', 'latitude': 50.636565399999995, 'longitude': 3.0635282000000004, 'temp_mean': 15.351428571428642, 'Id_city': 7}  ... displaying 10 of 35 total bound parameter sets ...  {'index': 33, 'Unnamed: 0': 33, 'city_name': 'Bayonne', 'latitude': 43.49333789999999, 'longitude': -1.475099, 'temp_mean': 19.250000000000053, 'Id_city': 33}, {'index': 34, 'Unnamed: 0': 34, 'city_name': 'La Rochelle', 'latitude': 46.1591126, 'longitude': -1.1520434, 'temp_mean': 16.611428571428632, 'Id_city': 34})
2021-10-27 16:33:21,431 INFO sqlalchemy.engine.base.Engine COMMIT

In [63]:
#ouvrir Combined.csv : 
hotel = pd.read_csv('combined.csv')

In [66]:
#Convertir le fichier en SQL : 
hotel.to_sql('hostel2', con=engine, index=False, if_exists='append')

2021-10-27 16:35:21,978 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-27 16:35:21,980 INFO sqlalchemy.engine.base.Engine {'name': 'hostel2'}
2021-10-27 16:35:21,998 INFO sqlalchemy.engine.base.Engine
CREATE TABLE hostel2 (
	"Unnamed: 0" BIGINT,
	coords TEXT,
	score TEXT,
	city TEXT,
	"Lon" FLOAT(53),
	"Lat" FLOAT(53)
)


2021-10-27 16:35:22,000 INFO sqlalchemy.engine.base.Engine {}
2021-10-27 16:35:22,018 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-27 16:35:22,031 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-27 16:35:22,249 INFO sqlalchemy.engine.base.Engine INSERT INTO hostel2 ("Unnamed: 0", coords, score, city, "Lon", "Lat") VALUES (%(Unnamed: 0)s, %(coords)s, %(score)s, %(city)s, %(Lon)s, %(Lat)s)
2021-10-27 16:35:22,250 INFO sqlalchemy.engine.base.Engine ({'Unnamed: 0': 0, 'coords': '-0.646487474441528,49.2542420864123', 'score': ' 8,2 ', 'city': 'Bayeux', 'Lon': -0.646487474441528, 'Lat': 49.2542420864123}, {'Unnamed: 0': 1, 'coords': '-0.703226923942566,49.2736831443021', 'score': ' 8,7 ', 'city': 'Bayeux', 'Lon': -0.703226923942566, 'Lat': 49.273683144302105}, {'Unnamed: 0': 2, 'coords': '-0.705759599804878,49.2764917090797', 'score': ' 9,7 ', 'city': 'Bayeux', 'Lon': -0.7057595998048779, 'Lat': 49.27649170907971}, {'Unnamed: 0': 3, 'coords': '-0.706367,49.276465', 'score': ' 9,3 ', 'city': 'Bayeux', 'Lon': -0.706367, 'Lat': 49.276465}, {'Unnamed: 0': 4, 'coords': '-0.709055364131927,49.2760613343073', 'score': ' 9,5 ', 'city': 'Bayeux', 'Lon': -0.709055364131927, 'Lat': 49.2760613343073}, {'Unnamed: 0': 5, 'coords': '-0.688839554786682,49.2697402411469', 'score': ' 8,2 ', 'city': 'Bayeux', 'Lon': -0.688839554786682, 'Lat': 49.2697402411469}, {'Unnamed: 0': 6, 'coords': '-0.703513920307159,49.2781576863302', 'score': ' 7,8 ', 'city': 'Bayeux', 'Lon': -0.703513920307159, 'Lat': 49.2781576863302}, {'Unnamed: 0': 7, 'coords': '-0.707556,49.272798', 'score': ' 8,7 ', 'city': 'Bayeux', 'Lon': -0.7075560000000001, 'Lat': 49.272798}  ... displaying 10 of 15730 total bound parameter sets ...  {'Unnamed: 0': 367, 'coords': '2.40237089577022,43.1799492145776', 'score': None, 'city': 'Carcassonne', 'Lon': 2.40237089577022, 'Lat': 43.1799492145776}, {'Unnamed: 0': 368, 'coords': '2.346507521704,43.203729764338', 'score': None, 'city': 'Carcassonne', 'Lon': 2.346507521704, 'Lat': 43.203729764338})
2021-10-27 16:36:45,462 INFO sqlalchemy.engine.base.Engine COMMIT

In [99]:
#faire la requête pour identifier les meilleurs hotels de Grenoble (une des plus belles villes française et il fait le plus chaud) : 

from sqlalchemy.sql import text
import pandas as pd 


# Create a statement 
stmt = text("SELECT city, score FROM hostel2 WHERE city='Grenoble' ORDER BY score ASC")  #A noter : un petit problème avec le mode ascendant et descendant 

#Afficher la requête 
df = pd.read_sql(    
        stmt,        
        engine       
    )

df.head()

2021-10-27 17:19:02,071 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-27 17:19:02,073 INFO sqlalchemy.engine.base.Engine {'name': "SELECT city, score FROM hostel2 WHERE city='Grenoble' ORDER BY score ASC"}
2021-10-27 17:19:02,091 INFO sqlalchemy.engine.base.OptionEngine SELECT city, score FROM hostel2 WHERE city='Grenoble' ORDER BY score ASC
2021-10-27 17:19:02,092 INFO sqlalchemy.engine.base.OptionEngine {}

       city  score
0  Grenoble   3,5
1  Grenoble   4,8
2  Grenoble   5,1
3  Grenoble   5,9
4  Grenoble   6,0